.sign_in_div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 650px;
  background-color: #fafafa;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;
  z-index: 5000;
}

.image_div {
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.signin-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.input-box {
  width: 80%;
  padding: 10px;
  margin: 5px 0;
}

.login-btn {
  width: 50%;
  padding: 10px 0;
  background-color: #90ee90;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #218838;
}
